In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
data = pd.read_csv("./dataset/digg_friends.csv", header=None)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1214799565</td>
      <td>336224</td>
      <td>266641</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1230047012</td>
      <td>336224</td>
      <td>215086</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1194104160</td>
      <td>336224</td>
      <td>151094</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>1199180573</td>
      <td>336224</td>
      <td>59378</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>1196465462</td>
      <td>336224</td>
      <td>8547</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
data.count()

0    1731658
1    1731658
2    1731658
3    1731658
dtype: int64

In [6]:
data.isnull().any().any()

False

In [37]:
data.groupby(0)[0].count()

0
0    845323
1    886335
Name: 0, dtype: int64